.jumbotron {
  background-color: yellow;
  color: black;
  margin-top: 50px;
}

footer {
  padding: 10px 10px 0 10px;
  background-color: yellow;
  margin-bottom: 0px;
  margin-top: 10px;
}

.card-hotel {
  flex: 1 200px;
  margin-top: 10px;
  margin-left: 5px;
  margin-right: 5px;
}

.btn-compra {
  width: 100%;
  border-radius: 0px
}

.item-icon {
  padding-right: 10px;
}

.tab-content {
  padding-top: 10px;
}

.contenido-collapse {
  padding-top: 20px;
}
