@yelow: #e0c200;

.margenes(@top, @bottom) {
  margin-top: @top;
  margin-bottom: @bottom;
}

.jumbotron {
  background-color: @yelow;
  color: black;
  .margenes(50px, 10px);

}

footer {
  padding: 10px 10px 0 10px;
  background-color: @yelow;
  .margenes(10px, 0px);

}

.card-hotel {
  flex: 1 200px;
  .margenes(10px, 10px);
  margin-left: 5px;
  margin-right: 5px;
}

.btn-compra {
  width: 100%;
  border-radius: 0px
}

.item-icon {
  padding-right: 10px;
}

.tab-content {
  padding-top: 10px;
}

.contenido-collapse {
  padding-top: 20px;
}
