.jumbotron {
  background-color: #e0c200;
  color: black;
  margin-top: 50px;
  margin-bottom: 10px; }

footer {
  padding: 10px 10px 0 10px;
  background-color: #a0ff96;
  margin-top: 10px;
  margin-bottom: 0px; }

.card-hotel {
  flex: 1 200px;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 5px;
  margin-right: 5px; }

.btn-compra {
  width: 100%;
  border-radius: 0px; }

.item-icon {
  padding-top: 10px; }

.tab-content {
  padding-top: 10px; }

.contenido-collapse {
  padding-top: 10px; }
