$yellow: #e0c200;
$red: #ce3333;
$green: #a0ff96;

@mixin margenes($top, $bottom) {
  margin-top: $top;
  margin-bottom: $bottom;
}

@mixin padding($top) {
  padding-top: $top;
}

.jumbotron {
  background-color: $yellow;
  color: black;
  @include margenes(50px, 10px);
}

footer {
  padding: 10px 10px 0 10px;
  background-color: $green;
  @include margenes(10px, 0px);
}

.card-hotel {
  flex: 1 200px;
  @include margenes(10px, 10px);
  margin-left: 5px;
  margin-right: 5px;
}

.btn-compra {
  width: 100%;
  border-radius: 0px
}

.item-icon {
  @include padding(10px);
}

.tab-content {
  @include padding(10px);
}

.contenido-collapse {
  @include padding(10px);
}
